<mat-card class="rounded-xl">
  <mat-card-header>
    <mat-card-title class="flex justify-center items-center"
      ><h1 class="text-black text-3xl">Welcome to Issue Queue</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div
      class="
        flex flex-row
        gap-3
        items-center
        justify-between
        sm:w-20
        md:w-30
        lg:w-56
        xl:w-64
        2xl:w-72
      "
    >
      <button mat-button class="p-3" color="primary" routerLink="signup">
        <h1>Sign up</h1>
      </button>
      <button mat-button class="p-3" color="primary" routerLink="login">
        <h1>Sign in</h1>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
