<mat-toolbar color="primary" class="h-10">
  <mat-toolbar-row
    class="flex flex-col sm:flex-row justify-between items-center min-h-full"
  >
    <span
      class="
        my-yellow
        flex flex-row flex-wrap
        items-center
        justify-between
        gap-1
      "
    >
      <button mat-flat-button routerLink="" color="primary">
        <mat-icon
          class="
            example-icon
            my-yellow
            h-10
            transform
            rotate-180
            hover:scale-150
          "
          aria-hidden="false"
          aria-label="Example heart icon"
          >arrow_right_alt</mat-icon
        >
      </button>
    </span>

    <div
      class="
        flex flex-row flex-wrap
        justify-evenly
        items-start
        sm:items-center
        gap-2
      "
    ></div>
  </mat-toolbar-row>
</mat-toolbar>
