<mat-toolbar color="primary" class="h-10">
  <mat-toolbar-row
    class="flex flex-col sm:flex-row justify-between items-center min-h-full"
  >
    <div class="flex flex-row gap-2">
      
      <app-emoji-nav [emoji]="'⚙️'" class="animate-spin"></app-emoji-nav>

      <app-emoji-nav [emoji]="'🚀'" class="animate-bounce"></app-emoji-nav>

      <app-emoji-nav [emoji]="'🧑🏻‍💻'" class="animate-pulse"></app-emoji-nav>

      <h1></h1>
    </div>

    <h1 class="my-yellow">Issue Queue</h1>
  </mat-toolbar-row>
</mat-toolbar>
